.footer 
    &__container 
        container: viewport 
        margin: 0 auto
        padding: 50px (gutter / 2)

    &__row 
        display: flex 
        justify-content: space-between
        flex-flow: row wrap
        margin: -(gutter / 2)

    &__box 
        flex: 0 1 240px
        padding: (gutter / 2)

    &__title 
        padding-bottom: 16px

    &__contact 
        &-icon 
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            font-size: 20px
            
            