{% spaceless %}
{% set currentClass = '' %}
{% if pages.current in ['catalog'] %}
{% set currentClass = "page-" ~ pages.current ~ '--' ~ category.id %}
{% endif %}
<!doctype html>
<html lang="pt-br" data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }} {{ currentClass }}">
<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/qcola.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

    <style>
        {{ settings.custom_css }}
    </style>

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body class="preload">
    {{ googleTagManager.top(pages.current, tagManagerData) }}
    {% element 'sprite' %}
    {% element 'snippets/messages' %}

    <div class="wrapper">
        <div class="wrapper__container">
        {% element 'snippets/banner-head' %}
        {% element 'snippets/head-top' %}
        {% element 'header' %}
        

        <main class="main">
            <div class="main__container">
                {% element 'snippets/banner' %}
                {% if pages.current in ['home'] %}
                    {% element 'snippets/rulers' %}
                {% endif %}
                {{ content_for_layout }}

                {% if pages.current in ['catalog', 'search'] %}
                    {% if settings.history_position == 1 %}
                        <section class="products-visited">
                            <h4>{{ Translation('confira_tambem') }}</h4>
                            <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                            {% element 'snippets/history' {
                                'store.id': store.id,
                                'pages.current': pages.current,
                                'category.id': category.id
                            } %}
                        </section>
                    {% endif %}
                {% endif %}
            </div>
        </main>

        {% if pages.current in ['home'] %}
            {% element 'snippets/extra-pages' %}
        {% endif %}

        {% if settings.hottags_position == 2 %}
            <div class="tagcloud">
                <h4>As palavras</h4>
                <h3>{{ Translation('tags_mais_buscadas') }}</h3>
                {% for tag in tags %}
                    <a href="{{ tag.url }}" style="font-size: {{ tag.font_size }}%">{{ tag.word }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if pages.current in ['catalog', 'search', 'product'] %}
            {% if settings.history_position == 2 %}
                <section class="products-visited col-sm-12">
                    <h4>{{ Translation('confira_tambem') }}</h4>
                    <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                    {% element 'snippets/history' {
                        'store.id': store.id,
                        'pages.current': pages.current,
                        'category.id': category.id
                    } %}
                </section>
            {% endif %}
        {% endif %}

        {% element 'footer' %}
        {% element 'copyright' %}
        {% element 'partners' %}
        </div>
    </div>

    <!-- tray -->
    {% element 'snippets/modal' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {{ tray.scripts }}
    <script> var $tray = jQuery; </script>
    {{
        html.script({
            '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
            '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
        })
    }}
    {% element 'snippets/pageview' %}
    {{ store.chat }}

    <!-- theme scripts-->
    <script type="text/javascript">
        var tray = {};
        tray['settings'] = "{{ (asset()|split('?'))[0] }}";
    </script>

    <script async src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script async type="text/javascript" src="{{ asset('js/quickview.js') }}"></script>
    <script async type="text/javascript" src="{{ asset('js/minicart.js') }}"></script>
    <script defer type="text/javascript" src="{{ asset('js/qcola.js') }}"></script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebSite",
            "name": "{{ store.name }}",
            "url": "{{ store.secure_url }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ store.secure_url }}/loja/busca.php?loja={{ store.id }}&palavra_busca={palavra_busca}",
                "query-input": "required name=palavra_busca"
            }
        }
    </script>

</body>
</html>
{% endspaceless %}