.search 
    &__form 
        display: flex 

    &__input 
        flex: 1 
        min-width: 0 

    &__button 
        flex: 0 0 auto
        min-width: 45px

        &-icon 
            font-size: 20px

        &-label 
            display: none 