.head-top
    display: none 
    font-size: 11px
    font-weight: regular  
    color: #606062
    background: #fff
    width: 100%
    overflow: hidden

    &__container 
        container: viewport
        display: flex 
        justify-content: space-between
        align-items: center
        margin: 0 auto
        
    &__welcome
        display: flex 
        justify-content: flex-start 
        align-items: center 
        svg 
            margin-right: 5px
        a 
            text-decoration: underline


    .socials__icon
        font-size: 20px
    
@media desktop 
    .head-top 
        display: block 