#visualAbas, #visualBlock #add
    display: none 

#col3D, #colFotos, #colVideo, #foto_p
    background: none 
    border: 0

.product 
    &__image 
        position: relative 
        z-index: 10

        &:after 
            content: ''
            display: block 
            clear: both