.instagram
    margin: 50px 0
    .slick-list 
        z-index: 50
    .slick-arrow 
        background: none 
        
        .icon 
            fill: #606062

    &__header 
        padding: 30px 0

    &__title 
        font-size: 28px
        font-weight: bold 
        text-transform: uppercase 
        text-align: center 

        span 
            color: #606062

    &__container 
        container: 1826px 
        margin: 0 auto

    &__list 
        display: flex 
        margin: -2px

    &__item
        padding: 2px

        img 
            object-fit: cover
            width: 296px
            height: 296px
            max-width: 100%

@media (min-width: 1926px)
    .instagram 
        .slick-prev 
            left: -50px
        .slick-next 
            right: -50px