.produto-imagem-miniaturas
    display: none 

.thumbs
    &__list 
        display: flex 

    &__item 
        img 
            width: 80px
            height: 80px 
            object-fit: contain 

    &__link 
        display: block