{% set limitProducts = 8 %}

{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}    
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'price': 'asc'},
    'categories': [1]
}) %}   
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Outlet",
    "carousel": "true"
} %}

<div class="banner banner--showcase">
    {{ banner.extra4 }}
</div>

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Mais Vendidos",
    "carousel": "true"
} %}

{% element 'snippets/newsletter' %}

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %} 
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Novos Produtos",
    "carousel": "true"
} %}

{% if banner.bottom %}
    <div class="banner banner--bottom">
        {{ banner.bottom }}
    </div>
{% endif %}

{% if pages.current == 'home' %}
	{{ banner.popup ~ banner.floating }}
{% endif %}
