{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

<!-- {% element 'snippets/rulers' %} -->

{% set products = Products({
    'filter': 'available',
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Outlet",
    "carousel": "true"
} %}

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Produtos Mais Amados",
    "carousel": "true"
} %}

<div class="banner banner--showcase">
    {{ banner.extra4 }}
</div>

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Mais Vendidos",
    "carousel": "true"
} %}

{% element 'snippets/newsletter' %}

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}
{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Novos Produtos",
    "carousel": "true"
} %}

{% if banner.bottom %}
    <div class="banner banner--bottom">
        {{ banner.bottom }}
    </div>
{% endif %}

{% if pages.current == 'home' %}
	{{ banner.popup ~ banner.floating }}
{% endif %}
