{% if banner.title %}
    <div class="banner banner--page-category">
        {{ banner.title }}
    </div>
{% endif %}

{% if breadcrumb %}
    {% element 'snippets/breadcrumb' %}
{% endif %}

<div class="page-catalog__main">

    <h1 class="page-catalog__title title title--big">{{ category.name }}</h1>

    {% if category.small_description %}
    <div class="page-catalog__description">
        {{ category.small_description }}
    </div>
    {% endif %}    
    

    <div class="page-catalog__container">
        {% if products|length > 0 %}
            {% element 'sidebar-left' %}
        {% endif %} 

        {% if products|length > 0 %}
            <div class="page-catalog__content">

                <div class="page-catalog__toolbar page-catalog__toolbar--top">
                    {% element 'snippets/toolbar' {
                        'brands': category.brands,
                        'position': 'top'
                    } %}
                </div>


                <div class="page-catalog__list">
                    {% element 'showcase' {
                        "products": products,
                        "carousel": "false"
                    } %}
                </div>

                <div class="page-catalog__toolbar page-catalog__toolbar--bottom">
                    {% element 'snippets/toolbar' {
                        'brands': category.brands,
                        'position': 'bottom'
                    } %}
                </div>
            </div>
        {% else %}
            
            <div class="page-catalog__main page-catalog__main--empty">
                <img src="{{ asset('img/page-catalog-empty.svg') }}" alt="Sem produtos" width="150" height="150">
                <p>{{ Translation('nenhum_resultado') }}</p>
            </div>

        {% endif %}
    </div>
    {% if banner.bottom %}
        <div class="banner banner--bottom ">
            {{ banner.bottom }}
        </div>
    {% endif %}
</div>

