.socials
    &__list 
        display: flex 
        justify-content: flex-start 
        align-items: center 
        margin: -5px 

    &__item 
        position: relative 
        padding: 5px 

    &__icon 
        font-size: 30px
        
    &__label 
        position: absolute 
        visibility: hidden
        opacity: 0
        