.title 
    font-size: 28px
    font-weight: bold 
    text-transform: uppercase
    letter-spacing: 2px

    &--small 
        font-size: 15px 
        letter-spacing: 0

    &--medium 
        font-size: 18px 

    &--big 
        font-size: 38px