.page-catalog 
    .button__filter 
        display: none 
        
    &__title 
        font-size: 28px
        font-weight: bold 
        text-transform: uppercase 
        letter-spacing: 2px

    &__description 
        font-size: 14px
        font-weight: regular 
        color: #6A6F7B

    &__container 
        display: flex 
        margin: '0 %s' % -(gutter / 2)

    &__toolbar
        padding: 20px 0
        &--top 
            border-top: solid 1px rgba(0,0,0,.05)
            .paginate__pages 
                display: none 

        &--bottom 
            text-align: right

    &__content 
        flex: 1 
        min-width: 0
        padding: 0 (gutter / 2)

    &__left 
        .preload & 
            visibility: hidden


@media mobile 
    .page-catalog 
        &__left 
            position: fixed
            top: 0 
            left: 0 
            z-index: 300

            .button__mask 
                opacity: 0
                visibility: hidden 

            .button__close 
                opacity: 0 

            &[aria-hidden=true]
                .button__close 
                    opacity: 0 
                    animation: slideCloseButton 500ms 1 ease
                    visibility: hidden

            &[aria-hidden=false]
                .button__mask
                    opacity: 1 
                    visibility: visible

                .button__close 
                    opacity: 1
                    animation: slideOpenButton 500ms 1 ease
            
        &__filters 
            position: fixed 
            z-index: 300

            width: 300px
            height: 100% 

            max-width: calc(100% - 65px)
            min-height: 100%

            background: #fff

            transform: translate3d(-100%, 0, 0)

            [aria-hidden=true] & 
                transform: translate3d(-100%, 0, 0)
                animation: slideClose 500ms 1 ease

            [aria-hidden=false] &
                transform: translate3d(0, 0, 0)
                animation: slideOpen 500ms 1 ease

            &-scroll 
                width: 100%
                height: 100% 
                padding: (gutter / 2)
                overflow-y: auto


@media desktop 
    .page-catalog 
        &__left 
            padding: 0 (gutter / 2)

            .button__mask
                display: none 

        &__filters 
            position: static

        &__container
            .button__filter 
                display: none 

        &__toolbar
            &--top 
                position: relative 
                margin-bottom: 0
                .paginate__pages
                    position: absolute 
                    right: 0 
                    top: 100% 
            &--bottom 
                .paginate__container 
                    display: flex 
                    justify-content: space-between
                    align-items: center 