{% set class = '' %}
{% if modifier %}{% set class = " customer--" ~ modifier %}{% endif %}
<div class="customer{{ class }}">
    <div class="customer__container">
        <div class="customer__header">
            <a class="customer__link customer__link--icon" href="{{ links.central }}" data-tray-tst="meu_cadastro" title="Meu Cadastro">
                <i class="customer__icon">
                    {% element 'snippets/icon' { 'name': 'user', 'width': '21', 'height': '28' } %}
                </i>
            </a>
        </div>
        <div class="customer__main">
            <div>
                <div class="customer__links">
                    <a href="{{ links.orders }}" data-tray-tst="meus_pedidos" title="Minha Conta" >Minha Conta</a>{% if modifier == 'navigation' and customer.logged == '1' %}, <a href="/loja/logout.php?loja={{ store.id }}">Sair</a>{% endif %}
                    <i class="customer__icon">
                        {% element 'snippets/icon' { 'name': 'next', 'width': '5', 'height': '10' } %}
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>