{# Configuração do limite de Nivel #}
{% if not settings.nivelLimit %}
    {% set nivelLimit = 2 %}
{% else %}
    {% set nivelLimit = settings.nivelLimit %}
{% endif %}

{# Configuração de primeiro nivel #}
{% if not nivel %}{% set nivel = 1 %}{% endif %}
{% if not menu %}{% set menu = categories %}{% endif %}

{% set class = '' %}
{% if modifier %}{% set class =  ' menu--' ~ modifier %}{% endif %}

<div class="menu menu--nv{{ nivel }}{{ class }}{{ nivel > 1 ? ' menu--sub' : '' }}">
    <ul class="menu__ul menu__ul--nv{{ nivel }}">
        {% for category in menu %}
            {% set hasChild = '' %}
            {% if category.name != 'Outlet' %}
                {% if category.children and nivel < nivelLimit %} {% set hasChild = ' menu__item--has-child' %}{% endif %}
                <li class="menu__item menu__item--nv{{ nivel }}{{ hasChild }}">
                    <a href="{{ category.link }}" class="menu__link menu__link--nv{{ nivel }}" title="{{ category.name }}" data-tray-tst="categoria_lvl_{{ nivel }}">
                        {% if category.images %}
                        <span class="menu__icon"><img src="{{ category.images[0] }}" alt="{{ category.name }}" title="{{ category.name }}"></span>
                        {% endif  %}
                        <span class="menu__label">{{ category.name }}</span>
                    </a>
                    {% if category.children and nivel < nivelLimit %}                
                        {% element 'snippets/menu' { menu: category.children, nivel: (nivel + 1) } %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>