<div class="prices">
    {% if product.available %}
        
        {% if product.stock > 0 or settings.without_stock_sale %} 
        
            {% if product.upon_request %}
                <div class="prices__on-request">Produto Sob Consulta</div>
            {% else %}
            
                <div class="prices__container">
                    {% set priceOld = 'De: ' %}

                    {% if product.price_offer > 0 and product.show_price %}
                        <div class="prices__old">
                            <span class="prices__label">{{ priceOld }}</span>
                            <span class="prices__price">R$ {{ product.price|currency }}</span>
                        </div>
                        
                        <div class="prices__special">
                            {% if product.has_other_prices %}
                                <span class="prices__label">{{ Translation('apartir') }}</span>
                                <span class="prices__price">R$ {{ product.price_offer|currency  }}</span>
                            {% else %}
                                <span class="prices__label">{{ priceOld ? 'Por: ' }}</span>
                                <span class="prices__price">R$ {{ product.price_offer|currency  }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="prices__regular">
                            {% if product.has_other_prices %}
                                <span class="prices__label">{{ Translation('apartir') }} </span>
                                <span class="price__price">R$ {{ product.price|currency  }}</span>
                            {% else %}
                                <span class="prices__label">{{ priceOld ? 'Por: ' }}</span>
                                <span class="prices__price">R$ {{ product.price|currency  }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            
        {% else %} 
            <div class="prices__out">Esgotado!</div>
        {% endif %} 
        
    {% else %} 
        <div class="prices__unavailable">Indispon&iacute;vel</div> 
        
    {% endif %} 
    
</div>