.showcase 
    margin: 0 0 40px

    .slick-arrow 
        background: none 
        
        .icon 
            fill: #4E4E4E

    .slick-list
        padding: 15px 
        margin: -15px

    &__header 
        padding: 50px 0 20px
        margin-bottom: 20px 

    &__title 
        text-align: center 
        line-height: 1.2

    &__list 
        display: flex 
        justify-content: space-between
        align-items: stretch
        flex-flow: row wrap
        min-width: 100%

        margin: -(gutter / 2)

    &__item 
        flex: 1 1 160px //254px
        padding: (gutter / 2)

@media desktop 
    .showcase 
        &__item 
            flex: 1 1 254px


@media (min-width: (viewport + 100))
    .showcase 
        .slick-prev 
            left: -50px
        .slick-next 
            right: -50px