.payments 
    &__list 
        display: flex 
        justify-content: flex-start 
        align-items: center 
        flex-flow: row wrap
        margin: -2px

    &__item 
        width: 40px 
        padding: 2px 