.filtros
    display: block
    margin: (gutter / 2) 0
    padding: 5px 
    float: none
    font-size: 12px
    font-weight: bold 
    text-transform: uppercase

.toolbar 
    &__filter 
        form 
            margin: -5px

@media desktop
    .filtros 
        margin: 0
        
    .toolbar 
        &__container 
            display: flex 
            align-items: flex-end

        &__paginate 
            order: -1
            flex: 1 
            min-width: 0

        &__filter 
            flex: 0 0 auto

            form 
                display: flex 
                justify-content: space-between