@media mobile
    .menu
        &--categories-all 
            display: none 

        &--navigation
            overflow-y: auto

            .menu 

                &__ul--nv1
                    width: 100% 
                    overflow: hidden

                &--sub 
                    display: none 
                    background: rgba(0, 0, 0, .05)

                &__link
                    display: block 
                    padding: (gutter/2)
                    line-height: 1.2 

                &__icon 
                    display: none 

                &__item
                    &--nv1 
                        + .menu__item--nv1 
                            border-top: solid 1px rgba(0,0,0,.1)

                    &--has-child 
                        display: flex 
                        justify-content: space-between
                        align-items: stretch
                        flex-flow: row wrap 

                        &:after 
                            content: ''
                            background-image: svg-load('svg/down.svg')
                            background-repeat: no-repeat
                            background-position: center center
                            order: 2
                            flex: 0 0 auto
                            
                            display: flex 
                            justify-content: center 
                            align-items: center
                            width: 45px 
                            font-size: 20px

                            transition: all 200ms ease

                        > .menu__link 
                            flex: 1 
                            order: 1
                            min-width: 0

                        > .menu--sub 
                            order: 3
                            flex: 0 0 100%

                        &[aria-expanded=true]
                            &:after 
                                transform: rotate(-90deg)

@media desktop 
    .menu
        &--navigation
            .menu
                &__icon 
                    margin-bottom: 5px
                    display: block
                    img 
                        height: 30px 
                        object-fit: contain 

                &__label 
                    display: block

                &__ul
                    &--nv1
                        display: flex 
                        justify-content: space-between
                        flex-flow: row nowrap
                        height: 100px
                        padding: 0

                    &--nv2 
                        column-count: 2 

                &__item 
                    &--hidden 
                        display: none 

                    &--has-child
                        &:hover 
                            .menu--nv2
                                opacity: 1 
                                visibility: visible
                            &:before 
                                content: ''
                                position: absolute 
                                bottom: -7px
                                left: 50% 
                                width: 16px
                                height: 16px 
                                border-radius: 3px
                                transform: translateX(-50%) rotate(45deg)
                                background: #fff

                    &--nv1 
                        position: relative
                        padding: 15px 0

                        + .menu__item--nv1 
                            .menu__link--nv1
                                border-left: solid 1px rgba(0,0,0,.05)

                        &:hover 
                            background: rgba(255,255,255,.1)

                    &--nv2
                        display: block
                        width: 170px
                        break-inside: avoid
                        

                &__link
                    &--nv1
                        display: flex 
                        justify-content: flex-end 
                        align-items: center 
                        flex-flow: column nowrap
                        padding: 0 (gutter / 2)

                        white-space: nowrap
                        text-align: center
                        font-size: 12px 
                        font-weight: medium 
                        letter-spacing: 1px
                        color: #fff
                        text-transform: uppercase 
                        height: 100%

                        .menu__label
                            min-width: 100px
                            max-width: 126px
                            white-space: normal
                            height: 27px
                            overflow: hidden
                            line-height: 1.2

                    &--nv2 
                        display: block
                        padding: 5px gutter
                        font-size: 12px
                        font-weight: regular 
                        color: #8C8C8C
                        letter-spacing: 1px
                        transition: all .2s ease 
                        &:hover 
                            text-decoration: none 

                &--sub 
                    padding: 10px 0

                &--nv2
                    position: absolute 
                    left: 0
                    top: calc(100% - 5px)

                    min-width: 250px;
                    opacity: 0 
                    visibility: hidden

                    background: #fff 
                    box-shadow: 0 0 10px rgba(0,0,0,.1)
                    border-radius: 6px

                &--rtl 
                    left: auto
                    right: 0

        &--categories-all
            position: absolute
            top: calc(100% - 5px)
            width: viewport
            max-width: 'calc(100% - %s)' % gutter
            background: #fff 
            padding: gutter
            border-radius: 6px
            box-shadow: 0 0 10px rgba(0,0,0,0.1)

            .menu
                &__icon 
                    display: none 

                &__ul
                    &--nv1 
                        column-count: 6

                &__link 
                    display: block
                    font-size: 12px
                    font-weight: regular 
                    color: #8C8C8C
                    padding: 7px 10px

                    text-decoration: none 

                    transition: all .2s ease-in-out

                    &--nv1 
                        font-size: 13px
                        font-weight: bold
                        text-transform: uppercase 
                        letter-spacing: 2px
