.prices 
    &__payments, &__label
        display: none 

    &__old 
        font-size: 20px
        font-size: regular 
        text-decoration: line-through
        color: #606062

    &__special 
        font-size: 24px
        font-weight: bold 

@media desktop 
    .prices
        &__container 
            display: flex 
            justify-content: space-between
            align-items: center 