.copyright 
    background: #eaeaea 
    margin-bottom: (gutter / 2)

    &__container 
        container: viewport
        margin: 0 auto 
        padding: gutter 0
        font-size: 12px 
        text-align: center 