.product
    &__header 
        margin-bottom: 20px 
        
    &__link 
        display: block 

    &__image 
        display: block 
        width: 100% 
        height: 340px
        object-fit: contain