$button 
    display: flex 
    justify-content: center 
    align-items: center
    min-width: 45px
    height: 45px 
    border: 0 

    font-size: 14px
    line-height: 1.2

    background: none 

$input 
    height: 45px 
    padding: 0 15px 
    line-height: 45px

button, .button 
    @extends $button

.button 
    &__icon 
        font-size: 20px

input 
    @extends $input 
    border: solid 1px rgba(0,0,0,.1)

    &:focus::placeholder 
        color: transparent
